@model CreateTopicViewModel
<h2>Create topic</h2>
<form method="post" asp-controller="Home" asp-action="CreateTopic">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Title">Title</label><br />
        <textarea cols="23" rows="1" asp-for="Title"></textarea>
        <span asp-validation-for="Title"></span><br />
    </div>
    <div>
        <label asp-for="Description">Description</label><br />
        <textarea cols="23" asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span><br />
    </div>
    <div hidden>
        <label asp-for="CreatorName">CreatorName</label><br />
        <input asp-for="CreatorName" value="@User.Identity.Name"/>
        <span asp-validation-for="CreatorName"></span><br />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>